<?xml version="1.0"?>
<!--
/**
 * Workshop_Faq extension
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  Workshop
 * @package   Workshop_Faq
 * @copyright Copyright (c) 2017
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="workshop_faq" sortOrder="2000">
            <label>FAQs</label>
        </tab>
        <section id="workshop_faq" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FAQs</label>
            <tab>workshop_faq</tab>
            <resource>Workshop_Faq::faq_faq</resource>
            <group id="faq" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FAQs</label>
                <field id="breadcrumbs" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Breadcrumbs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="meta_title" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>FAQs list meta title</label>
                </field>
            </group>
        </section>
    </system>
</config>
